* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

header{
    width: 100%;
    height: 72px;
    padding: 16px 64px;
    border-bottom: 1px solid #E2E8F0;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-brand h1{
    color: #6729FF;
    font-size: 24px;
    font-family: "Outfit", sans-serif;
    font-weight: bold;
}

.nav-list li{
    display: inline-block;
    margin: 0 30px;
}

.nav-list li a{
    font-size: 16px;
    color: #94A3B8;
    padding: 10px;
    text-decoration: none;
}

.nav-list li a:hover{
    color:black;
}

#home-page{
    color: #6729FF;
}

.nav-login{
    display: flex;
    align-items: center;
}

.nav-login1{
    text-decoration: none;
    font-size: 16px;
    color: #94A3B8;
    padding: 12px 32px;
}

.nav-login2{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #6729FF;
    padding: 12px 32px;
    border-radius: 10px;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    font-size: 16px;
}

.container-footer h2{
    color: #64748B;
    font-family: "Outfit", sans-serif;
    padding-bottom: 4px;
    font-size: 16px;
}

.footer-item{
    flex: 1;
}

.footer-item a{
    color: #94A3B8;
    text-decoration: none;
    display: block;
    padding-top: 20px;
}

.footer-item a:hover{
    color: #6729FF;
}

.footer-input{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-input p{
    font-size: 12px;
    color: #94A3B8;
}

#footer-email{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
}

#footer-email::placeholder{
    font-size: 12px;
    color: #94A3B8;
}

.container-form{
    position: relative;
}

.container-form button{
    position: absolute;
    right: 4px;
    top: 15px;
    background-color: #6729FF;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social{
    margin-top: 20px;
    display: flex;
}

.footer-social a{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.footer-social a img{
    width: 24px;
    height: 24px;
    margin: 6px;
}

.footer-social a:hover{
    background-color: #6729FF;
    border-radius: 20px;
}

.footer-copyright{
    display: flex;
    justify-content: space-around;
    padding: 20px 64px 0 64px;
    border-top: 1px solid #E2E8F0;
    align-items: center;
}

.footer-copyright a{
    font-size: 12px;
    color: #94A3B8;
    text-decoration: none;
}
.footer-copyright p{
    font-size: 12px;
    color: #94A3B8;
    text-decoration: none;
}

.footer-copyright h1{
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #6729FF;
}

.footer-copyright a:hover{
    color: #6729FF;
}